
.add-sec{
    max-width: 1200px;
    margin: o auto;
    display: flex;
    justify-content: space-around;
    background-color: skyblue;
}
.div-add{
    width: 400px;
}
.div-add >h1{
    color: rgb(255, 192, 1);
    padding-bottom: 10px;
    font-size: 38px;
}
.div-add1{
    margin: 0 ;
}
.div-add >p{
    color: gray;
    word-spacing: ;
}
.div-add >h2{
    color: cadetblue;
}
.div-add1{
    text-align: center;
    width: 250px;
}
.add-img{
    height: 70px;
    width: 70px;
}
.add-main{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
a{
    text-decoration: none;
}